[submodule "Firmware/lib/MAX7219LedMatrix"]
	path = Firmware/lib/MAX7219LedMatrix
	url = git@github.com:william-redenbaugh/MAX7219LedMatrix.git
[submodule "Firmware/lib/TeensyOS"]
	path = Firmware/lib/TeensyOS
	url = git@github.com:william-redenbaugh/TeensyOS.git
[submodule "led_matrix_spressense/led_matrix/HSV-RGB-Conversion"]
	path = led_matrix_spressense/led_matrix/HSV-RGB-Conversion
	url = git@github.com:william-redenbaugh/HSV-RGB-Conversion.git
[submodule "led_matrix_spressense/led_matrix/pubsub-c"]
	path = led_matrix_spressense/led_matrix/pubsub-c
	url = git@github.com:william-redenbaugh/pubsub-c.git
[submodule "particle_impl/BikeLightsParticleSparkles/lib/MAX7219LedMatrix"]
	path = particle_impl/BikeLightsParticleSparkles/src/MAX7219LedMatrix
	url = git@github.com:william-redenbaugh/MAX7219LedMatrix.git
